<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>historia do html</title>
  <script src="script/script.js"></script>
<link rel="stylesheet" href="style/style.css" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>

  <div class="tirinhas-background">
    <div class="tirinhas"></div>
    <div class="tirinhas"></div>
    <div class="tirinhas"></div>
    <div class="tirinhas"></div>
    <div class="tirinhas"></div>
    <div class="tirinhas"></div>
    <div class="tirinhas"></div>
    <div class="tirinhas"></div>
    <div class="tirinhas"></div>
    <div class="tirinhas"></div>
    <div class="tirinhas"></div>
    <div class="tirinhas"></div>
    <div class="tirinhas"></div>
    <div class="tirinhas"></div>
    <div class="tirinhas"></div>
    <div class="tirinhas"></div>
    <div class="tirinhas"></div>
    <div class="tirinhas"></div>
    <div class="tirinhas"></div>
    <div class="tirinhas"></div>
  </div>
  <header>
    <div id="hora-msg"></div>
  <button id="toggle-tema"><i class="fa-solid fa-moon"></i></button>
    <nav id="barraN"></nav>
  </header>

  <main>
    <section id="Tags">
      <h2>1991 — As Tags</h2>
      <ul id="lista"></ul>
    </section>
  </main>
    <header class="site-header">
    <h1 class="titulo-principal">História da HTML</h1>
    </header>

  <main class="conteudo-principal">
    <section>
      <h2 class="titulo-secundario">O que é HTML?</h2>
      <p><strong>HyperText Markup Language</strong> é a linguagem de marcação usada para criar páginas da web. Ela permite estruturar conteúdo com títulos, textos, imagens, links, listas, formulários e muito mais.</p>
    </section>
    <section>
      <h2 class="titulo-secundario">1991 — A criação</h2>
      <p>O HTML foi criado por Tim Berners-Lee, um cientista britânico do CERN <br>(Centro Europeu de Pesquisas Nucleares) <br> Ele desenvolveu a primeira versão do HTML como parte de um sistema chamado World Wide Web (WWW), para compartilhar documentos entre cientistas. Essa versão era muito simples: contendo 18 tags.</p>
    </section>
    <section>
      <h2 class="titulo-secundario">1995 — HTML 2.0</h2>
      <p>A primeira versão padronizada foi o HTML 2.0. <br>publicada pela IETF (Internet Engineering Task Force). <br> Adicionou suporte a formulários, listas ordenadas, e outros elementos básicos.</p>
    </section>
    <section>
      <h2 class="titulo-secundario">1997 a 1999 — HTML 3.2 e 4.01</h2>
      <p>A responsabilidade passou para o W3C (World Wide Web Consortium). <br> O HTML 3.2 adicionou suporte a tabelas, scripts (JavaScript), e folhas de estilo (CSS). O HTML 4.01 trouxe melhorias na acessibilidade, separação entre estrutura e estilo, e foco em padrões web.</p>
    </section>
    <section>
      <h2 class="titulo-secundario">Anos 2000 — Quase esquecido</h2>
      <p>O HTML parou de evoluir por um tempo porque a ideia era substituí-lo pelo XHTML, uma versão mais rígida e baseada em XML. <br>Mas o XHTML era complicado e muita gente não adotou.</p>
    </section>
    <section>
      <h2 class="titulo-secundario"> 2008 em diante — HTML5</h2>
      <p>O HTML5 foi lançado como uma resposta moderna às novas necessidades da web. <br> Ele trouxe novas tags semânticas como: &lt;header&gt;, &lt;footer&gt;, &lt;section&gt;, &lt;article &gt;. <br>Suporte a áudio, vídeo, gráficos com &lt;canvas&gt;, geolocalização, armazenamento local e muito mais. Melhor integração com CSS3 e JavaScript.</p>
    </section>
  </main>
</body>
</html>